{
  "name": "ApigeeX",
  "label": "[[label]]",
  "description": "[[description]]",
  "group": "",
  "artifactName": "",
  "packageVersion": "",
  "codeVersion": "",
  "iconPath":"icons/",
  "commands": []
}